.udc{
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
}
.gallery-cont{
    min-width:80vw;
    min-height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom:0;
    right:0;
    min-width:30%;
    min-height:2rem;
    background-color: black;
}

.gallery-item-name{
    font-size: 4rem;
    position:absolute;
    bottom:2rem;
    flex-wrap: wrap;
}

.gallery-item{
    font-size: 200px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.gallery-item.visible{
    opacity: 1;
    transform: translateX(0);
}

.gallery-slider-btn{
    min-height: 1rem;
    border-radius: 3rem;
}

.active-slider-btn,
.gallery-slider-btn:active{
    background-color:black;
}

